.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #84b4b0;
  padding: 10px;
  margin: 10px;
}
.expense-item__amount {
  border: 2px solid black;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 2px 5px 10px black;
  border-radius: 10px;
  background: #c6fff9;
  margin: 20px;
}
